mat-expansion-panel {
    margin: 10px;
    background: rgb(255, 255, 255);
}

@media (max-width: 400px) {
    mat-expansion-panel {
        width: 310px;
        margin-left: 27px;
    }
}


.gridItens {
    list-style-type: disc;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px 60px;    
    text-align: left;
}

@media (max-width: 480px) {
    .gridItens {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 400px) {
    .gridItens {
        grid-template-columns: repeat(1, 1fr);
        max-height: 100px;
        overflow-y: auto;
}
}

.grid {
    text-align: center;
}






@media (max-width: 768px) {
    mat-grid-tile {
        font-size: 14px;
    }
}
