
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
      <mat-expansion-panel-header>
        <mat-panel-title><strong>Hard Skills</strong></mat-panel-title>        
      </mat-expansion-panel-header>
      <div class="hardSkills">
        <img src="css.svg" alt="">
        <img src="html.svg" alt="">
        <img src="javascript.svg" alt="">
        <img src="typescript.svg" alt="">
        <img src="angular.svg" alt="">
        <img src="react.svg" alt="">
        <img src="vuejs.svg" alt="">
        <img src="nodejs.svg" alt="">
        <img src="csharp.svg" alt="">
        <img src="dotnet.svg" alt="">
        <img src="java.svg" alt="">
        <img src="go.svg" alt="">      
        <img src="django.svg" alt="">
        <img src="python.svg" alt="">
        <img src="flutter.svg" alt="">
      </div>
    </mat-expansion-panel>
